$sleep-color: #EC96A4;
$activity-color: #DFE166;
$hydration-color: #5BC8AC;
$grey-background: #4d4e4f;



@mixin card-history-styles {
  text-align: center;
  font-size: 1em;
  margin: .5em;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
}
